.Page{
	background-color:BLACK; /*COULEUR DU FOND */
	width: 50%; /*TAILLE DE LA PAGE */	
}

.Image_title{
	width: 10%; /*TAILLE DE L'IMAGE */
}

.Image_Article{
    width: 5%; /*TAILLE DE L'IMAGE */
}

.Text_article{
	 color: white; /*COULEUR TEXT BLANC */
	
}

.btn{
	color: white; /*COULEUR TEXT BLANC */
}
